@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

body {
    background-image: url("SKY.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.carta {
    
    background: #d3f6ff2f;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);

    border-radius: 25px;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    transition: 0.5s;
    box-shadow: inset 0 0 15px 3px rgb(255, 255, 255);
}

.carta:hover {
    background: #d3f6ff81;
    transition: 0.5s;
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.cabezera {
    border-radius: 25px;
    width: 80%;
    margin: auto;
    padding-top: 35px;

}

.logo {
    color: black;
    width: 125px;
    height: 125px;
    background: white;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 25px;
    opacity: 0.2;
    transition: 0.5s;
}

.carta:hover .logo {
    opacity: 1;
    transition: 0.5s;
}

.logo img {
    width: 100%;
}

.titulo {
    color: black;
    font-weight: 500;
    font-size: 2em;
    opacity: 0.2;
    transition: 0.5s;
}

.carta:hover .titulo {
    opacity: 1;
    transition: 0.5s;
}

.botonera {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.carta hr {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
    opacity: 0;
    transition: 0.5s;
}

.carta:hover hr {
    opacity: 1;
    transition: 0.5s;
}

.carta .cuerpo hr {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 120%;
    opacity: 0;
    margin-left: -10%;
}

button {
    color: black;
    background: #d3f6ff2f;
    border: 0;
    height: 40px;
    border-radius: 15px;
    transition: 0.5s;
    opacity: 0.2;
    transition: 0.5s;
}

.carta:hover button {
    opacity: 1;
    background: #d3f6ff7a;
    transition: 0.5s;
}

button:hover {
    background: #d3f6ffd0;
    transition: 0.5s;
    box-shadow: inset 0 0 15px 3px rgba(186, 247, 255, 0.425);
}
